/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

button {
    border: none;
}

/* ---------- CSS ---------- */

* {
    background-color: black;
    color: white;
}

:root {
    font-family: "Roboto", system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 2rem;

    --border-thickness: 2.5px;
    --gameboard-color: #6485a7;
    --error-color: rgb(255, 0, 0);
    --error-color-opacity: rgba(255, 0, 0, 0.2);

}

#player-one-name:invalid,
#player-two-name:invalid {
    border: var(--border-thickness) solid var(--error-color);
}

.player-info input {
    border-radius: 8px;
    border: var(--border-thickness) solid var(--gameboard-color);
    font-size: 1rem;
}

#player-one-marker,
#player-two-marker {
    width: 1rem;
    text-align: center;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#grid {
    margin: 2rem 0px;
    display: grid;
    grid-template-rows: repeat(3, 4rem);
    grid-template-columns: repeat(3, 4rem);
    justify-content: center;
}

.square {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
}

.player-info {
    display: flex;
    margin-top: 0.5rem;
    gap: 1rem;
    align-items: center;
}

#player-one-turn,
#player-two-turn {
    font-weight: bolder;
    animation: blinker 1s infinite;
}

@keyframes blinker {
    0% { opacity: 1;}
    50% { opacity: 0;}
    100% { opacity: 1;}
}

#player-one-marker,
#player-two-marker,
.square {
    font-family: "Yarndings 20", system-ui, "Segoe UI";
}

.square:nth-child(1) {
    border-right: 3px solid var(--gameboard-color);
    border-bottom: 3px solid var(--gameboard-color);
}

.square:nth-child(2) {
    border-left: 3px solid var(--gameboard-color);
    border-right: 3px solid var(--gameboard-color);
    border-bottom: 3px solid var(--gameboard-color);
}

.square:nth-child(3) {
    border-left: 3px solid var(--gameboard-color);
    border-bottom: 3px solid var(--gameboard-color);
}

.square:nth-child(4) {
    border-top: 3px solid var(--gameboard-color);
    border-right: 3px solid var(--gameboard-color);
    border-bottom: 3px solid var(--gameboard-color);
}

.square:nth-child(5) {
    border: 3px solid var(--gameboard-color);
}

.square:nth-child(6) {
    border-top: 3px solid var(--gameboard-color);
    border-left: 3px solid var(--gameboard-color);
    border-bottom: 3px solid var(--gameboard-color);
}

.square:nth-child(7) {
    border-top: 3px solid var(--gameboard-color);
    border-right: 3px solid var(--gameboard-color);
}

.square:nth-child(8) {
    border-top: 3px solid var(--gameboard-color);
    border-left: 3px solid var(--gameboard-color);
    border-right: 3px solid var(--gameboard-color);
}

.square:nth-child(9) {
    border-top: 3px solid var(--gameboard-color);
    border-left: 3px solid var(--gameboard-color);
}

#play-game {
    border: var(--border-thickness) solid var(--gameboard-color);
    border-radius: 8px;
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

#play-game:disabled {
    border: var(--border-thickness) solid var(--error-color-opacity);
}

/* ---------- 900px ---------- */

@media only screen and (max-width: 900px) {

    .player-info {
        margin-left: 1rem;
        gap: 2rem;
    }

    #player-one-name,
    #player-two-name {
        width: 6.5rem;
        margin-right: -1rem;
    }

    #player-one-marker,
    #player-two-marker {
        margin-left: 1rem;
    }
    
    #player-one-score,
    #player-two-score {
        text-align: center;
        margin-right: 1rem;
    }

    #grid {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    #play-game {
        font-size: 1rem;
        margin-bottom: 1rem;
    }

    #game-result {
        font-size: 1rem;
        text-align: center;
    } 

}

/* ---------- 570px ---------- */

@media only screen and (max-width: 570px) {

    #player-one-name,
    #player-two-name {
        width: 5rem;
        margin-right: -1rem;
    }

    #player-one-marker,
    #player-two-marker {
        margin-left: 1rem;
    }

    #player-one-score,
    #player-two-score {
        text-align: center;
        margin-right: 0.5rem;
    }

    #player-one-turn,
    #player-two-turn {
        align-self: start;
    }

    .player-info {
        gap: 0px;
        margin-left: 0.5rem;
    }

    #grid {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    #play-game {
        font-size: 1rem;
        margin-bottom: 1rem;
    }

    #game-result {
        font-size: 1rem;
        text-align: center;
    } 
    
}