* {
    background-color: black;
    color: white;
}

#grid {
    display: grid;
    grid-template-rows: repeat(3, 50px);
    grid-template-columns: repeat(3, 50px);
}

.square {
    border: 1px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
}